.form-horizon2 {

 }

.form-horizon2 .form-label {
    width: 30px;
    text-align: right;
    margin-right: 10px;
}

.form-horizon2 .form-control {
    width: 330px;
}

.form-horizon3 {

}

.form-horizon3 .form-label {
    width: 45px;
    text-align: right;
    margin-right: 10px;
}

.form-horizon3 .form-control {
    width: 315px;
}

.form-horizon4 {

}

.form-horizon4 .form-label {
    width: 60px;
    text-align: right;
    margin-right: 10px;
}

.form-horizon4 .form-control {
    width: 300px;
}

.icon-search:before {
    content: "\e003";
}

.query-relation-modal {

}

.query-relation-modal .modal-box {
    width: 500px;
}

.query-relation-modal .form-control {
    width: 365px;
}

.query-relation-modal .table-wrap {
    width: 100%;
    max-height: 500px;
    overflow: scroll;
    margin-top: 40px;
}