body {
    background: #f1f2f3;
}

.navbar {
    margin-bottom: 30px;
}

.navbar-default {
    background: #fff;
}

.navbar-default .navbar-brand {
    color: #444;
    font-size: 28px;
}

.navbar-default .navbar-nav > li > a {
    color: #444;
    font-size: 15px;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 100px auto;
    }
}

.aside {
    position: fixed;
    top: 0;
    left: 0;
    overflow: scroll;
    padding: 8px 8px 8px 0;
    display: block;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    width: 300px;
    height: 100%;
    z-index: 1000;
}

@media (min-width: 1400px) {
    .container {
        width: 1400px;
    }
}

ul.list, li.list-item {
    list-style: none;
    -webkit-padding-start: 12px;
    padding-left: 12px;
}

ul li {
    cursor: pointer;
}

ul li span:nth-child(1) {
    font-size: 10px;
    color: #c0c0c0;
}

ul li span:nth-child(2) {
    font-size: 15px;
}

.material-detail {
    background-color: #fff;
    border: 1px solid #e7e7e7;
    width: 1400px;
    min-height: 798px;
    margin-bottom: 40px;
}

.table-wrap {
    width: 1300px;
    min-height: 600px;
    margin: 30px 50px 50px;
}

#main {
    margin-left: 300px;
    overflow: hidden;
}

main.container {
    margin: 0 auto;
}

.modal-body {
    overflow: hidden;
}

.progress-prompt {
    text-align: center;
    font-size: 24px;
}