<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CSE DMS</title>
    <link rel="shortcut icon" th:href="@{/images/CSE.png}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/summer.css}"/>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/ajaxfileupload.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/machine.js}"></script>
    <script th:src="@{/js/summer.js}"></script>
</head>
<body>
<header class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" th:href="@{/index}">CSE DMS</a>-->
            <a class="navbar-brand" th:href="@{/index}" style="color: #ff0000">CSE DMS 测试系统</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" data-toggle="modal" data-target="#importCSEBOM">CSE</a></li>
                <li><a href="#" data-toggle="modal" data-target="#importManXml">MAN</a></li>
                <li><a href="#" data-toggle="modal" data-target="#importWinGDExcel">WinGD</a></li>
            </ul>
        </div>
    </div>
</header>
<main class="container">
    <div class="material-detail" style="margin-top: 10px">
        <div class="table-wrap">
            <button id="logout" class="btn btn-primary pull-right" style="margin-bottom: 20px">退出登录</button>
            <button id="searchStr" class="btn btn-primary pull-right" style="margin-bottom: 20px; margin-right: 16px"
                    data-toggle="modal" data-target="#searchStruct">部套关联
            </button>
            <button id="strCheckBtn" class="btn btn-primary pull-right" style="margin-bottom: 20px; margin-right: 16px"
                    data-toggle="modal" data-target="#structureCheck">部套检查
            </button>
            <button id="clearData" class="btn btn-primary pull-right" style="margin-bottom: 20px; margin-right: 16px"
                    data-toggle="modal" data-target="#clearDataModal" th:if="${4 == session.user.role}">清空数据
            </button>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th class="col-lg-1 col-md-1">名称</th>
                    <th class="col-lg-1 col-md-1">机号</th>
                    <th class="col-lg-1 col-md-1">机型</th>
                    <th class="col-lg-1 col-md-1">专利机型</th>
                    <th class="col-lg-1 col-md-1">缸数</th>
                    <th class="col-lg-1 col-md-1">船号</th>
                    <th class="col-lg-1 col-md-1">船级社</th>
                    <th class="col-lg-5 col-md-5">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="machine, machineStat : ${machineList}">
                    <td th:text="${machine.name}"></td>
                    <td th:text="${machine.machineNo}"></td>
                    <td th:text="${machine.type}"></td>
                    <td th:text="${machine.patent}"></td>
                    <td th:text="${machine.cylinderAmount}"></td>
                    <td th:text="${machine.shipNo}"></td>
                    <td th:text="${machine.classificationSociety}"></td>
                    <td>
                        <a href="javascript:;" style="margin-right: 16px"
                           th:onclick="|javascript:toView('${machine.id}', '${machine.machineNo}',
                           '${machine.type}', '${machine.patent}', '${machine.cylinderAmount}', '${machine.shipNo}', '${machine.classificationSociety}')|">查看</a>
                        <a href="javascript:;" style="margin-right: 16px" data-toggle="modal" data-target="#machineEdit"
                           th:if="${session.user.role == 2 || session.user.role == 4}"
                           th:onclick="|javascript:toUpdateMachine('${machine.id}', '${machine.name}', '${machine.machineNo}',
                           '${machine.type}', '${machine.patent}', '${machine.cylinderAmount}', '${machine.shipNo}', '${machine.classificationSociety}');|">编辑</a>
                        <a href="javascript:;" style="margin-right: 16px" th:onclick="|javascript:toExportMachineBom('${machine.name}', '${machine.machineNo}',
                           '${machine.type}', '${machine.patent}', '${machine.cylinderAmount}', '${machine.shipNo}', '${machine.classificationSociety}', 0)|">导出整机BOM</a>
                        <a href="javascript:;" style="margin-right: 16px" th:onclick="|javascript:toExportMachineBom('${machine.name}', '${machine.machineNo}',
                           '${machine.type}', '${machine.patent}', '${machine.cylinderAmount}', '${machine.shipNo}', '${machine.classificationSociety}', 1)|">导出设计部套</a>
                        <a href="javascript:;" style="margin-right: 16px" th:onclick="|javascript:toExportMachineBom('${machine.name}', '${machine.machineNo}',
                           '${machine.type}', '${machine.patent}', '${machine.cylinderAmount}', '${machine.shipNo}', '${machine.classificationSociety}', 2)|">导出发布部套</a>
                        <a th:href="@{|/importResult?machineName=${machine.name}|}">导入记录</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
<div class="modal fade" id="importCSEBOM" tabindex="-1" role="dialog" aria-labelledby="CSEBOMLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="CSEBOMLabel">导入CSE BOM文件</h4>
            </div>
            <form id="CSEBOMForm">
                <div class="modal-body">
                    <label for="machineName3" class="control-label col-lg-2 col-md-2"
                           th:if="${3 == session.user.role || 4 == session.user.role}">机器</label>
                    <div class="form-group col-lg-10 col-md-10"
                         th:if="${3 == session.user.role || 4 == session.user.role}">
                        <input id="machineName3" class="form-control" type="text"/>
                    </div>
                    <label for="machineName33" class="control-label col-lg-2 col-md-2"
                           th:if="${1 == session.user.role || 2 == session.user.role}">机器</label>
                    <div class="form-group col-lg-10 col-md-10"
                         th:if="${1 == session.user.role || 2 == session.user.role}">
                        <select id="machineName33" class="form-control">
                            <option selected disabled>请选择</option>
                            <option th:each="machine, machineStat : ${machineList}" th:value="${machine.name}"
                                    th:text="${machine.name}"></option>
                        </select>
                    </div>
                    <label for="csebom" class="control-label col-lg-2 col-md-2">文件</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <input id="csebom" class="form-control" type="file" name="csebom"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="CSEBOMImport1" type="button" class="btn btn-primary"
                            th:if="${1 == session.user.role || 2 == session.user.role}">导入
                    </button>
                    <button id="CSEBOMImport2" type="button" class="btn btn-primary"
                            th:if="${3 == session.user.role || 4 == session.user.role}">导入
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </form>
            <div id="CSEBOMConfirm" style="display: none">
                <div class="modal-body">
                    <div id="CSEBOMProgress" class="progress-prompt">
                        <div class="loader loader-1">
                            <div class="loader-outter"></div>
                            <div class="loader-inner"></div>
                        </div>
                        文件上传中...
                    </div>
                </div>
            </div>
            <div id="CSEBOMResult" class="modal-body" style="display: none">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>部套号</th>
                        <th>导入结果</th>
                    </tr>
                    </thead>
                    <tbody id="importResultResp">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="importManXml" tabindex="-1" role="dialog" aria-labelledby="ManXmlLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="ManXmlLabel">导入MAN XML文件</h4>
            </div>
            <form id="manXmlForm">
                <div class="modal-body">
                    <label for="machineName1" class="control-label col-lg-2 col-md-2"
                           th:if="${3 == session.user.role || 4 == session.user.role}">机器</label>
                    <div class="form-group col-lg-10 col-md-10"
                         th:if="${3 == session.user.role || 4 == session.user.role}">
                        <input id="machineName1" class="form-control" type="text"/>
                    </div>
                    <label for="machineName11" class="control-label col-lg-2 col-md-2"
                           th:if="${1 == session.user.role || 2 == session.user.role}">机器</label>
                    <div class="form-group col-lg-10 col-md-10"
                         th:if="${1 == session.user.role || 2 == session.user.role}">
                        <select id="machineName11" class="form-control">
                            <option selected disabled>请选择</option>
                            <option th:each="machine, machineStat : ${machineList}" th:value="${machine.name}"
                                    th:text="${machine.name}"></option>
                        </select>
                    </div>
                    <label for="manXml" class="control-label col-lg-2 col-md-2">文件</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <input id="manXml" class="form-control" type="file" name="manXml"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="xmlImport1" type="button" class="btn btn-primary"
                            th:if="${1 == session.user.role || 2 == session.user.role}">导入
                    </button>
                    <button id="xmlImport2" type="button" class="btn btn-primary"
                            th:if="${3 == session.user.role || 4 == session.user.role}">导入
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </form>
            <div id="manXmlConfirm" style="display: none">
                <div class="modal-body">
                    <div id="manXmlProgress" class="progress-prompt">
                        <div class="loader loader-1">
                            <div class="loader-outter"></div>
                            <div class="loader-inner"></div>
                        </div>
                        文件上传中...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="importWinGDExcel" tabindex="-1" role="dialog" aria-labelledby="WinGDExcelLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="WinGDExcelLabel">导入WinGD Excel文件</h4>
            </div>
            <form id="winGDExcelForm">
                <div class="modal-body">
                    <label for="machineName2" class="control-label col-lg-2 col-md-2"
                           th:if="${3 == session.user.role || 4 == session.user.role}">机器</label>
                    <div class="form-group col-lg-10 col-md-10"
                         th:if="${3 == session.user.role || 4 == session.user.role}">
                        <input id="machineName2" class="form-control" type="text" name="machineName"/>
                    </div>
                    <label for="machineName22" class="control-label col-lg-2 col-md-2"
                           th:if="${1 == session.user.role || 2 == session.user.role}">机器</label>
                    <div class="form-group col-lg-10 col-md-10"
                         th:if="${1 == session.user.role || 2 == session.user.role}">
                        <select id="machineName22" class="form-control">
                            <option selected disabled>请选择</option>
                            <option th:each="machine, machineStat : ${machineList}" th:value="${machine.name}"
                                    th:text="${machine.name}"></option>
                        </select>
                    </div>
                    <label for="winGDExcel" class="control-label col-lg-2 col-md-2">文件</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <input id="winGDExcel" class="form-control" name="winGDExcel" type="file"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="excelImport1" type="button" class="btn btn-primary"
                            th:if="${1 == session.user.role || 2 == session.user.role}">导入
                    </button>
                    <button id="excelImport2" type="button" class="btn btn-primary"
                            th:if="${3 == session.user.role || 4 == session.user.role}">导入
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </form>
            <div id="winGDExcelConfirm" style="display: none">
                <div class="modal-body">
                    <div id="winGDExcelProgress" class="progress-prompt">
                        <div class="loader loader-1">
                            <div class="loader-outter"></div>
                            <div class="loader-inner"></div>
                        </div>
                        文件上传中...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="machineEdit" tabindex="-1" role="dialog" aria-labelledby="machineEditLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="machineEditLabel">修改机器信息</h4>
            </div>
            <form id="machineEditForm">
                <div class="modal-body">
                    <input id="id" class="form-control" type="hidden"/>
                    <label for="name" class="control-label col-lg-2 col-md-2">名称</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <input id="name" class="form-control" type="text" readonly="readonly"/>
                    </div>
                    <label for="machineNo" class="control-label col-lg-2 col-md-2">适用机号</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <input id="machineNo" class="form-control" type="text"/>
                    </div>
                    <label for="type" class="control-label col-lg-2 col-md-2">机型</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <input id="type" class="form-control" type="text"/>
                    </div>
                    <label for="patent" class="control-label col-lg-2 col-md-2">专利机型</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <select id="patent" class="form-control">
                            <option value="MAN">MAN</option>
                            <option value="WinGD">WinGD</option>
                            <option value="J-ENG">J-ENG</option>
                            <option value="CSE">CSE</option>
                        </select>
                    </div>
                    <label for="cylinderAmount" class="control-label col-lg-2 col-md-2">缸数</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <input id="cylinderAmount" class="form-control" type="text"/>
                    </div>
                    <label for="shipNo" class="control-label col-lg-2 col-md-2">船号</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <input id="shipNo" class="form-control" type="text"/>
                    </div>
                    <label for="classificationSociety" class="control-label col-lg-2 col-md-2">船级社</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <input id="classificationSociety" class="form-control" type="text"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="updateBtn" type="button" class="btn btn-primary">修改</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </form>
            <div id="machineEditConfirm" style="display: none">
                <div class="modal-body">
                    <p id="machineEditProgress" class="progress-prompt">文件上传中...</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dialog-bg" th:if="${session.user.password == '123456'}">
    <div class="dialog">
        <p class="dialog-title"><span>修改密码</span></p>
        <div class="dialog-content">
            <div class="ipt-group">
                <input id="newPwd" class="ipt-item" type="password" placeholder="新密码，不少于6位"/>
            </div>
            <div class="ipt-group">
                <input id="confirmPwd" class="ipt-item" type="password" placeholder="确认您的密码"/>
            </div>
            <p id="response" class="response"></p>
            <div class="ipt-group">
                <button id="pwdBtn" class="pwd-btn" type="button">修改</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="searchStruct" tabindex="-1" role="dialog" aria-labelledby="searchStructLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="searchStructLabel">查询部套关联关系</h4>
            </div>
            <form id="searchStructForm">
                <div class="modal-body">
                    <label for="materialNoI" class="control-label col-lg-2 col-md-2">物料号</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <input id="materialNoI" type="text" class="form-control"/>
                    </div>
                    <label for="searchStrB" class="control-label col-lg-2 col-md-2"></label>
                    <div class="form-group col-lg-10 col-md-10">
                        <button id="searchStrB" type="button" class="btn btn-info pull-right">精准查询</button>
                    </div>
                    <label for="machineNameI" class="control-label col-lg-2 col-md-2">机器</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <table id="machineNameI" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <td class="col-md-4">机器名</td>
                                <td class="col-md-4">版本</td>
                                <td class="col-md-4">总数量</td>
                            </tr>
                            </thead>
                            <tbody id="structureList">
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="clearDataModal" tabindex="-1" role="dialog" aria-labelledby="clearDataLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="clearDataLabel">清理数据</h4>
            </div>
            <form id="clearDataForm">
                <div id="clearPrompt" class="modal-body">
                    <p id="thisPrompt" class="progress-prompt">您确定要清空数据库中全部数据吗？</p>
                </div>
                <div id="clearPromptProgress" class="progress-prompt" style="display: none;margin: 16px 0;">
                    <div class="loader loader-1">
                        <div class="loader-outter"></div>
                        <div class="loader-inner"></div>
                    </div>
                    正在清理...
                </div>
                <div id="clearPromptFooter" class="modal-footer">
                    <button id="clearConfirm" type="button" class="btn btn-primary">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="structureCheck" tabindex="-1" role="dialog" aria-labelledby="structureCheckLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="structureCheckLabel">检查部套</h4>
            </div>
            <div class="modal-body">
                <label for="structureCheckFile" class="control-label col-lg-2 col-md-2">文件</label>
                <div class="form-group col-lg-10 col-md-10">
                    <input id="structureCheckFile" class="form-control" name="structureCheckFile" type="file"/>
                </div>
            </div>
            <div class="modal-footer">
                <button id="structureCheckBtn" type="button" class="btn btn-primary">导入
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>