<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>机器列表</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/summer.css}">
    <script th:src="@{/js/jquery-3.3.1.js}"></script>
    <script th:src="@{/js/ajaxfileupload.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/machine.js}"></script>
    <script th:src="@{/js/summer.js}"></script>
</head>
<body>
<header class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CSE</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" data-toggle="modal" data-target="#importManXml">MAN</a></li>
                <li><a href="#" data-toggle="modal" data-target="#importWinGDExcel">WinGD</a></li>
            </ul>
        </div>
    </div>
</header>
<main class="container">
    <div class="material-detail">
        <div class="table-wrap">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th class="col-lg-1 col-md-1">名称</th>
                    <th class="col-lg-2 col-md-2">机号</th>
                    <th class="col-lg-2 col-md-2">机型</th>
                    <th class="col-lg-1 col-md-1">缸数</th>
                    <th class="col-lg-2 col-md-2">船号</th>
                    <th class="col-lg-2 col-md-2">船级社</th>
                    <th class="col-lg-2 col-md-2">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="machine, machineStat : ${machineList}">
                    <td th:text="${machine.name}"></td>
                    <td th:text="${machine.machineNo}"></td>
                    <td th:text="${machine.type}"></td>
                    <td th:text="${machine.cylinderAmount}"></td>
                    <td th:text="${machine.shipNo}"></td>
                    <td th:text="${machine.classificationSociety}"></td>
                    <td>
                        <a th:href="@{|/machine?machineId=${machine.id}|}" style="margin-right: 16px">查看</a>
                        <a href="javascript:;" style="margin-right: 16px" data-toggle="modal" data-target="#machineEdit"
                           th:onclick="|javascript:toUpdateMachine('${machine.id}', '${machine.name}', '${machine.machineNo}',
                           '${machine.type}', '${machine.cylinderAmount}', '${machine.shipNo}', '${machine.classificationSociety}');|">编辑</a>
                        <a href="javascript:;" th:onclick="|javascript:toExportMachineBom('${machine.name}', '${machine.machineNo}',
                           '${machine.type}', '${machine.cylinderAmount}', '${machine.shipNo}', '${machine.classificationSociety}')|">导出整机BOM</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
<div class="modal fade" id="importManXml" tabindex="-1" role="dialog" aria-labelledby="ManXmlLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="ManXmlLabel">导入MAN XML文件</h4>
            </div>
            <form id="manXmlForm">
                <div class="modal-body">
                    <label for="machineName1" class="control-label col-lg-2 col-md-2">机器</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <input id="machineName1" class="form-control" type="text"/>
                    </div>
                    <label for="manXml" class="control-label col-lg-2 col-md-2">文件</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <input id="manXml" class="form-control" type="file" name="manXml"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="xmlImport" type="button" class="btn btn-primary">导入</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </form>
            <div id="manXmlConfirm" style="display: none">
                <div class="modal-body">
                    <div id="manXmlProgress" class="progress-prompt">
                        <div class="loader loader-1">
                            <div class="loader-outter"></div>
                            <div class="loader-inner"></div>
                        </div>
                        文件上传中...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="importWinGDExcel" tabindex="-1" role="dialog" aria-labelledby="WinGDExcelLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="WinGDExcelLabel">导入WinGD Excel文件</h4>
            </div>
            <form id="winGDExcelForm">
                <div class="modal-body">
                    <label for="machineName2" class="control-label col-lg-2 col-md-2">机器</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <input id="machineName2" class="form-control" type="text" name="machineName"/>
                    </div>
                    <label for="winGDExcel" class="control-label col-lg-2 col-md-2">文件</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <input id="winGDExcel" class="form-control" name="winGDExcel" type="file"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="excelImport" type="button" class="btn btn-primary">导入</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </form>
            <div id="winGDExcelConfirm" style="display: none">
                <div class="modal-body">
                    <div id="winGDExcelProgress" class="progress-prompt">
                        <div class="loader loader-1">
                            <div class="loader-outter"></div>
                            <div class="loader-inner"></div>
                        </div>
                        文件上传中...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="machineEdit" tabindex="-1" role="dialog" aria-labelledby="machineEditLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="machineEditLabel">修改机器信息</h4>
            </div>
            <form id="machineEditForm">
                <div class="modal-body">
                    <input id="id" class="form-control" type="hidden"/>
                    <label for="name" class="control-label col-lg-2 col-md-2">名称</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <input id="name" class="form-control" type="text" readonly="readonly"/>
                    </div>
                    <label for="machineNo" class="control-label col-lg-2 col-md-2">机号</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <input id="machineNo" class="form-control" type="text"/>
                    </div>
                    <label for="type" class="control-label col-lg-2 col-md-2">机型</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <input id="type" class="form-control" type="text"/>
                    </div>
                    <label for="cylinderAmount" class="control-label col-lg-2 col-md-2">缸数</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <input id="cylinderAmount" class="form-control" type="text"/>
                    </div>
                    <label for="shipNo" class="control-label col-lg-2 col-md-2">船号</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <input id="shipNo" class="form-control" type="text"/>
                    </div>
                    <label for="classificationSociety" class="control-label col-lg-2 col-md-2">船级社</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <input id="classificationSociety" class="form-control" type="text"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="updateBtn" type="button" class="btn btn-primary">修改</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </form>
            <div id="machineEditConfirm" style="display: none">
                <div class="modal-body">
                    <p id="machineEditProgress" class="progress-prompt">文件上传中...</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>