<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>设计BOM管理系统</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/cse.png}"/>
    <link rel="stylesheet" th:href="@{/css/summer2.css}"/>
</head>
<body>
<summer-nav id="summer-nav" v-bind:master-item="masterItem"></summer-nav>
<main id="master" class="master">
    <div class="container">
        <main class="panel">
            <header class="header">
                <section class="filter">
                    <div class="filter-group">
                        <label class="filter-label" for="">专利机型</label>
                        <select class="filter-control" v-model="patent" @change="executeQueryMachineListByPatent()">
                            <option value="全部">全部</option>
                            <option value="MAN">MAN</option>
                            <option value="WinGD">WinGD</option>
                        </select>
                    </div>
                </section>
                <section class="filter">
                    <div class="filter-group">
                        <input class="filter-control" type="text" placeholder="查询机器" v-model="name"/>
                        <label class="filter-action" for="" @click="executeQueryMachineListByNameLike()"><span class="icon icon-search"></span></label>
                    </div>
                </section>
            </header>
            <table class="table table-bordered table-hover table-fixed">
                <thead>
                <tr>
                    <th style="width: 8%">名称</th>
                    <th style="width: 17%">机号</th>
                    <th style="width: 15%">机型</th>
                    <th style="width: 8%">专利机型</th>
                    <th style="width: 5%">缸数</th>
                    <th style="width: 17%">船号</th>
                    <th style="width: 17%">船级社</th>
                    <th style="width: 18%">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="machine in machineList">
                    <td>{{machine.name}}</td>
                    <td>{{machine.machineNo}}</td>
                    <td>{{machine.type}}</td>
                    <td>{{machine.patent}}</td>
                    <td>{{machine.cylinderAmount}}</td>
                    <td>{{machine.shipNo}}</td>
                    <td>{{machine.classificationSociety}}</td>
                    <td>
                        <a th:href="@{/machine}">
                            <button class="btn btn-link" type="button">查阅</button>
                        </a>
                        <a href="">
                            <button class="btn btn-link" type="button">编辑</button>
                        </a>
                        <a href="">
                            <button class="btn btn-link" type="button">导出</button>
                        </a>
                        <a href="">
                            <button class="btn btn-link" type="button">BOM结构</button>
                        </a>
                        <a href="">
                            <button class="btn btn-link" type="button">导入记录</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <footer class="pagination">
                <nav class="pagination-nav">
                    <button class="left" type="button" :disabled="0 === pageContext.pageIndex || 1 === pageContext.pageIndex" @click="queryMachineListByPreviousPagination()"><span class="icon icon-menu-left"></span></button>
                    <button type="button"><span>{{pageContext.pageIndex}}</span></button>
                    <button class="right" type="button" :disabled="pageContext.pageTotal === pageContext.pageIndex || 0 === pageContext.pageTotal" @click="queryMachineListByNextPagination"><span class="icon icon-menu-right"></span></button>
                </nav>
                <section class="pagination-query">
                    <label class="pagination-query-label">共{{pageContext.pageTotal}}页</label>
                    <input class="pagination-query-control" name="pageNum" type="text"/>
                    <label class="pagination-query-action"><span class="icon icon-search"></span></label>
                </section>
            </footer>
        </main>
        <footer class="footer">
            <img class="logo" src="images/cse.png" alt=""/>
            <span class="company">中国船舶重工集团柴油机有限公司</span>
        </footer>
    </div>
</main>
<!--<script src="js/vue.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/summer.js"></script>
<script th:src="@{/js/summer-nav.js}"></script>
<script th:src="@{/js/index.js}"></script>
</body>
</html>
