<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>设计BOM管理工具</title>
    <link rel="shortcut icon" th:href="@{/images/cse.png}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/css/summer.css}">
    <link rel="stylesheet" th:href="@{/css/material-detail.css}">
</head>
<body>
<header id="header" class="header">
    <div class="header-fixed">
        <div class="container">
            <img class="logo" th:src="@{/images/cse.png}" alt=""/>
            <div class="account">
                <span class="account-name">{{user.name}}</span>
                <a class="icon icon-off" th:href="@{/logout}"></a>
            </div>
        </div>
    </div>
</header>
<main id="main" class="container">
    <div class="left-panel">
        <div class="list-form">
            <ul class="list" style="border-left-color: #fff" v-cloak>
                <li class="item">
                    <span class="icon icon-triangle-bottom"></span>
                    <span class="code" @click="queryStructure(machine.name)">{{machine.name}}</span>
                    <ul class="list" v-for="structure in machine.structureList" v-if="machine.structureList">
                        <li class="item">
                            <span class="icon icon-triangle-right" v-if="0 != structure.material.childCount
                            && (undefined == structure.material.materialList || structure.material.materialList.length == 0)"></span>
                            <span class="icon icon-triangle-bottom" v-if="0 != structure.material.childCount
                            && undefined != structure.material.materialList && structure.material.materialList.length > 0"></span>
                            <span class="icon" v-if="0 == structure.material.childCount"
                                  style="margin-right: 12px"></span>
                            <span class="code" @click="queryMaterial(structure.material)"
                                  style="display: inline-block; width: 852px; background-color: #92d050; border-bottom: 1px solid #fff">{{structure.structureNo}}&nbsp;&nbsp;{{structure.materialNo}}&nbsp;&nbsp;{{structure.material.chinese}}</span>
                            <ul class="list"
                                v-if="structure.material.materialList && structure.material.materialList.length > 0">
                                <material-node v-for="material in structure.material.materialList"
                                               :key="material.objectId" :material="material"></material-node>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="progress-modal" v-if="isVisible">
            <p class="progress">
                <span class="icon icon-cog progress-bar rotate"></span>
                <span>正在获取数据...</span>
            </p>
        </div>
    </div>
    <div class="right-panel">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>属性</th>
                <th>值</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>物料号</td>
                <td><span v-if="material" v-cloak>{{material.materialNo}}</span></td>
            </tr>
            <tr>
                <td>图纸</td>
                <td><a v-if="material && 'WinGD' != machine.patent" class="btn-link" target="_blank"
                       :href="'file://cse.com.cn/cse drawings/EngineDrawings/' + material.materialNo + '.pdf'" v-cloak>链接</a>
                    <a v-if="material && 'WinGD' == machine.patent" class="btn-link" target="_blank"
                       :href="'file://cse.com.cn/cse drawings/EngineDrawings/' + material.drawingNo + '.pdf'" v-cloak>链接</a>
                </td>
            </tr>
            <tr>
                <td>图号</td>
                <td><span v-if="material" v-cloak>{{material.drawingNo}}</span></td>
            </tr>
            <tr>
                <td>图幅</td>
                <td><span v-if="material" v-cloak>{{material.drawingSize}}</span></td>
            </tr>
            <tr>
                <td>名称（中文）</td>
                <td><span v-if="material" v-cloak>{{material.chinese}}</span></td>
            </tr>
            <tr>
                <td>名称（英文）</td>
                <td><span v-if="material" v-cloak>{{material.name}}</span></td>
            </tr>
            <tr>
                <td>专利材料</td>
                <td><span v-if="material" v-cloak>{{material.material}}</span></td>
            </tr>
            <tr>
                <td>国标材料</td>
                <td><span v-if="material" v-cloak>{{material.standard}}</span></td>
            </tr>
            <tr>
                <td>层数量</td>
                <td><span v-if="material" v-cloak>{{material.absoluteAmount}}</span></td>
            </tr>
            <tr>
                <td>重量</td>
                <td><span v-if="material" v-cloak>{{material.weight}}</span></td>
            </tr>
            <tr>
                <td>货源</td>
                <td><span v-if="material" v-cloak>{{material.source}}</span></td>
            </tr>
            <tr>
                <td>设计备注</td>
                <td><span v-if="material" v-cloak>{{material.designNote}}</span></td>
            </tr>
            <tr>
                <td>喷涂防护</td>
                <td><span v-if="material" v-cloak>{{material.paintProtect}}</span></td>
            </tr>
            <tr>
                <td>更改</td>
                <td><span v-if="material" v-cloak>{{material.modifyNote}}</span></td>
            </tr>
            <tr>
                <td>ERP父项</td>
                <td><span v-if="material" v-cloak>{{material.erpParent}}</span></td>
            </tr>
            </tbody>
        </table>
        <div class="btn-list" style="margin-top: 16px">
            <p class="env-dev pull-left" v-if="'DEV' == user.token" v-cloak>开发环境</p>
            <p class="env-uat pull-left" v-if="'UAT' == user.token" v-cloak>测试环境</p>
            <p class="env-pro pull-left" v-if="'PRO' == user.token" v-cloak>正式环境</p>
            <a class="pull-right" href="index">
                <button class="btn">返回</button>
            </a>
        </div>
    </div>
</main>
<footer class="footer">
    <span>&copy;2019 中国船舶重工集团柴油机有限公司</span>
</footer>
<div id="popover" class="popover" v-if="prompts.length > 0">
    <popover v-for="prompt in prompts" :key="prompt.id" :prompt="prompt"></popover>
</div>
<script src="js/vue.min.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/summer.js"></script>
<script th:src="@{/js/material-detail.js}"></script>
</body>
</html>