<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="application/json; charset=UTF-8">
    <title>设计BOM管理工具</title>
    <link rel="shortcut icon" th:href="@{/images/cse.png}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/css/summer.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<header id="header" class="header">
    <div class="header-fixed">
        <div class="container">
            <img class="logo" th:src="@{/images/cse.png}" alt=""/>
            <div class="account">
                <span class="account-name">{{user.name}}</span>
                <a class="icon icon-off" th:href="@{/logout}"></a>
            </div>
        </div>
    </div>
</header>
<main id="main" class="container">
    <div class="panel">
        <div class="btn-list">
            <p class="env-dev pull-left" v-if="'DEV' == user.token" v-cloak>开发环境</p>
            <p class="env-uat pull-left" v-if="'UAT' == user.token" v-cloak>测试环境</p>
            <p class="env-pro pull-left" v-if="'PRO' == user.token" v-cloak>正式环境</p>
            <a class="pull-right" href="index">
                <button class="btn">返回</button>
            </a>
            <button class="btn pull-right" type="button" @click="appendStructureModalVisible"
                    v-if="user.permissions.APPEND_STRUCTURE" v-cloak>添加部套
            </button>
            <button class="btn pull-right" type="button" @click="importStructureModalVisible"
                    v-if="user.permissions.IMPORT_STRUCTURE" v-cloak>导入部套
            </button>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>部套号</th>
                <th>物料号</th>
                <th>当前版本</th>
                <th>最新版本</th>
                <th>英文名</th>
                <th>中文名</th>
                <th>总数量</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(structure, index) in structureList">
                <td>{{structure.structureNo}}</td>
                <td>{{structure.materialNo}}</td>
                <td>{{structure.version}}</td>
                <td>{{structure.material.latestVersion}}</td>
                <td>{{structure.material.name}}</td>
                <td>{{structure.material.chinese}}</td>
                <td>{{structure.amount}}</td>
                <td class="col-yellow" v-if="1 == structure.status && user.permissions.RELEASE_STRUCTURE" v-cloak>
                    <button class="btn-link" @click="releaseStructureModalVisible(structure, index)">设计</button>
                </td>
                <td class="col-yellow" v-if="1 == structure.status && !user.permissions.RELEASE_STRUCTURE">设计</td>
                <td class="col-green" v-if="2 == structure.status">发布</td>
                <td>
                    <button class="btn-link pull-left" @click="exportStructureModalVisible(structure)">导出</button>
                    <button class="btn-link pull-left" @click="deleteStructureModalVisible(structure, index)"
                            v-if="user.permissions.DELETE_STRUCTURE" v-cloak>删除
                    </button>
                    <button class="btn-link pull-left" @click="updateStructureVersionModalVisible(structure, index)"
                            v-if="0 != structure.material.latestVersion && user.permissions.UPDATE_STRUCTURE_VERSION"
                            v-cloak>修改版本
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<footer class="footer">
    <span>&copy;2019 中国船舶重工集团柴油机有限公司</span>
</footer>
<div id="importStructureModal" class="modal" v-if="isVisible" v-cloak>
    <div class="modal-box">
        <div class="modal-header">
            <p class="modal-title">导入部套</p>
            <div class="modal-dismiss"><span class="icon icon-remove" @click="invisible"></span></div>
        </div>
        <ul class="modal-tab">
            <li class="tab" :class="{active: 1 == tabIndex}" @click="changeTab(1)">新部套</li>
            <li class="tab" :class="{active: 2 == tabIndex}" @click="changeTab(2)">新版本部套</li>
        </ul>
        <div v-if="1 == tabIndex">
            <div class="modal-content form-horizontal form-horizon4">
                <div class="form-group">
                    <label class="form-label">选择文件</label>
                    <input id="newStructureFile" class="form-control" type="file" @change="analyzeFile"/>
                </div>
                <div v-if="isNewStructureFileChosen">
                    <div class="modal-line"></div>
                    <div class="form-group">
                        <label class="form-label">部套号</label>
                        <input class="form-control" type="text" v-model="newStructureName"/>
                    </div>
                    <div class="form-group">
                        <label class="form-label">总数量</label>
                        <input class="form-control" type="text" v-model="newStructureAmount"/>
                    </div>
                    <div class="form-group">
                        <button class="btn-default pull-right" @click="confirmFile">确认</button>
                    </div>
                </div>
                <div class="modal-area" v-if="newStructureList.length > 0">
                    <p v-for="newStructure in newStructureList">{{newStructure.structureNo}}%{{newStructure.amount}}%{{newStructure.file.name}}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn-default pull-right" @click="invisible" :disabled="isImportNewStructureDisabled">取消
                </button>
                <button class="btn pull-right" @click="importNewStructure" :disabled="isImportNewStructureDisabled">
                    <span class="icon icon-cog rotate" v-if="isImportNewStructureDisabled"></span>{{importNewStructureAction}}
                </button>
            </div>
        </div>
        <div v-if="2 == tabIndex">
            <div class="modal-content form-horizontal form-horizon3">
                <div class="form-group">
                    <label class="form-label">机器名</label>
                    <p class="form-control">{{structure.machineName}}</p>
                </div>
                <div class="form-group">
                    <label class="form-label">部套号</label>
                    <select class="form-control" v-model="structure.structureNo">
                        <option selected disabled>请选择</option>
                        <option v-for="structure in structureList" :value="structure.structureNo">
                            {{structure.structureNo}}&nbsp;({{structure.materialNo}})
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label">文件</label>
                    <input id="newVersionStructureFile" class="form-control" type="file"/>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn-default pull-right" @click="invisible"
                        :disabled="isImportNewVersionStructureDisabled">取消
                </button>
                <button class="btn pull-right" @click="importNewVersionStructure"
                        :disabled="isImportNewVersionStructureDisabled">
                    <span class="icon icon-cog rotate" v-if="isImportNewVersionStructureDisabled"></span>{{importNewVersionStructureAction}}
                </button>
            </div>
        </div>
    </div>
</div>
<div id="exportStructureModal" class="modal" v-if="isVisible" v-cloak>
    <div class="modal-box">
        <div class="modal-header">
            <p class="modal-title">导出部套</p>
            <div class="modal-dismiss"><span class="icon icon-remove" @click="invisible"></span></div>
        </div>
        <div class="modal-content form-horizontal form-horizon3">
            <div class="form-group">
                <label class="form-label">机器名</label>
                <p class="form-control">{{structure.machineName}}</p>
            </div>
            <div class="form-group">
                <label class="form-label">部套号</label>
                <p class="form-control">{{structure.structureNo}}</p>
            </div>
            <div class="form-group">
                <label class="form-label">物料号</label>
                <p class="form-control">{{structure.materialNo}}</p>
            </div>
            <div class="form-group">
                <label class="form-label">版本号</label>
                <select class="form-control" v-model="structure.version">
                    <option selected disabled>请选择</option>
                    <option v-for="version in versionList" :value="version">{{version}}</option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn-default pull-right" @click="invisible" :disabled="isDisabled">取消</button>
            <button class="btn pull-right" @click="exportStructureFile" :disabled="isDisabled">
                <span class="icon icon-cog rotate" v-if="isDisabled"></span>{{action}}
            </button>
        </div>
    </div>
</div>
<div id="appendStructureModal" class="modal" v-if="isVisible" v-cloak>
    <div class="modal-box">
        <div class="modal-header">
            <p class="modal-title">添加部套</p>
            <div class="modal-dismiss"><span class="icon icon-remove" @click="invisible"></span></div>
        </div>
        <div class="modal-content form-horizontal form-horizon3">
            <div class="form-group">
                <label class="form-label">机器名</label>
                <p class="form-control">{{structure.machineName}}</p>
            </div>
            <div class="form-group form-icon">
                <label class="form-label">查询号</label>
                <input class="form-control" type="text" v-model="structureStr"/>
                <span class="icon icon-search" @click="queryStructure"></span>
            </div>
            <div class="modal-line"></div>
            <div class="form-group">
                <label class="form-label">物料号</label>
                <select class="form-control" v-model="structure.materialNo" @change="selectStructure">
                    <option selected disabled>请选择</option>
                    <option v-for="structure in structureList" :value="structure.materialNo">
                        {{structure.materialNo}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label class="form-label">版本号</label>
                <select class="form-control" v-model="structure.version">
                    <option selected disabled>请选择</option>
                    <option v-for="version in versionList" :value="version">{{version}}</option>
                </select>
            </div>
            <div class="form-group">
                <label class="form-label">部套号</label>
                <input class="form-control" type="text" v-model="structure.structureNo"/>
            </div>
            <div class="form-group">
                <label class="form-label">总数量</label>
                <input class="form-control" type="text" v-model="structure.amount"/>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn-default pull-right" @click="invisible" :disabled="isDisabled">取消</button>
            <button class="btn pull-right" @click="appendStructure" :disabled="isDisabled">
                <span class="icon icon-cog rotate" v-if="isDisabled"></span>{{action}}
            </button>
        </div>
    </div>
</div>
<div id="releaseStructureModal" class="modal" v-if="isVisible" v-cloak>
    <div class="modal-box">
        <div class="modal-header">
            <p class="modal-title">发布部套</p>
            <div class="modal-dismiss"><span class="icon icon-remove" @click="invisible"></span></div>
        </div>
        <div class="modal-content">
            <p class="modal-prompt">您确定要发布{{structure.structureNo}}部套吗？</p>
        </div>
        <div class="modal-footer">
            <button class="btn-default pull-right" @click="invisible" :disabled="isDisabled">取消</button>
            <button class="btn pull-right" @click="releaseStructure" :disabled="isDisabled">
                <span class="icon icon-cog rotate" v-if="isDisabled"></span>{{action}}
            </button>
        </div>
    </div>
</div>
<div id="deleteStructureModal" class="modal" v-if="isVisible" v-cloak>
    <div class="modal-box">
        <div class="modal-header">
            <p class="modal-title">删除部套</p>
            <div class="modal-dismiss"><span class="icon icon-remove" @click="invisible"></span></div>
        </div>
        <div class="modal-content">
            <p class="modal-prompt">您确定要删除{{structure.structureNo}}部套吗？</p>
        </div>
        <div class="modal-footer">
            <button class="btn-default pull-right" @click="invisible" :disabled="isDisabled">取消</button>
            <button class="btn pull-right" @click="deleteStructure" :disabled="isDisabled">
                <span class="icon icon-cog rotate" v-if="isDisabled"></span>{{action}}
            </button>
        </div>
    </div>
</div>
<div id="updateStructureVersionModal" class="modal" v-if="isVisible" v-cloak="">
    <div class="modal-box">
        <div class="modal-header">
            <p class="modal-title">修改部套版本</p>
            <div class="modal-dismiss"><span class="icon icon-remove" @click="invisible"></span></div>
        </div>
        <div class="modal-content form-horizontal form-horizon3">
            <div class="form-group">
                <label class="form-label">机器名</label>
                <p class="form-control">{{structure.machineName}}</p>
            </div>
            <div class="form-group">
                <label class="form-label">部套号</label>
                <p class="form-control">{{structure.structureNo}}</p>
            </div>
            <div class="form-group">
                <label class="form-label">物料号</label>
                <p class="form-control">{{structure.materialNo}}</p>
            </div>
            <div class="form-group">
                <label class="form-label">版本号</label>
                <select class="form-control" v-model="structure.version">
                    <option selected disabled>请选择</option>
                    <option v-for="version in versionList" :value="version">{{version}}</option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn-default pull-right" @click="invisible" :disabled="isDisabled">取消</button>
            <button class="btn pull-right" @click="updateStructureVersion" :disabled="isDisabled">
                <span class="icon icon-cog rotate" v-if="isDisabled"></span>{{action}}
            </button>
        </div>
    </div>
</div>
<div id="popover" class="popover" v-if="prompts.length > 0">
    <popover v-for="prompt in prompts" v-bind:key="prompt.id" v-bind:prompt="prompt"></popover>
</div>
<div id="progress" class="progress-modal" v-if="isVisible">
    <p class="progress">
        <span class="icon icon-cog progress-bar rotate"></span>
        <span>正在获取数据...</span>
    </p>
</div>
<script src="js/vue.min.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/summer.js"></script>
<script th:src="@{/js/machine.js}"></script>
</body>
</html>