<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="application/json; charset=UTF-8">
    <title>产品管理</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/summer.css}">
    <script th:src="@{/js/jquery-3.3.1.js}"></script>
    <script th:src="@{/js/ajaxfileupload.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/summer.js}"></script>
    <script th:src="@{/js/machine.js}"></script>
</head>
<body>
<aside class="aside">
    <ul class="list">
        <li class="list-item">
            <span class="glyphicon glyphicon-triangle-right"></span>
            <span th:text="${machine.name}"></span>
        </li>
    </ul>
</aside>
<div id="main">
    <main class="container">
        <div class="material-detail">
            <div class="table-wrap">
                <button id="addNewVersion" type="button" data-target="#importNewVersionStructure" data-toggle="modal"
                        class="btn btn-primary pull-right"
                        style="margin-bottom: 20px">导入新版本部套
                </button>
                <button id="addDbButton" type="button" data-target="#addDbStructure" data-toggle="modal"
                        class="btn btn-primary pull-right"
                        style="margin-bottom: 20px; margin-right: 16px">添加库中部套
                </button>
                <table id="table" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th class="col-lg-1 col-md-1">部套号</th>
                        <th class="col-lg-1 col-md-2">物料号</th>
                        <th class="col-lg-1 col-md-1">英文名</th>
                        <th class="col-lg-2 col-md-2">中文名</th>
                        <th class="col-lg-1 col-md-1">总数量</th>
                        <th class="col-lg-1 col-md-1">单件数量</th>
                        <th class="col-lg-1 col-md-1">专利方版本</th>
                        <th class="col-lg-1 col-md-1">当前版本</th>
                        <th class="col-lg-1 col-md-1">最新版本</th>
                        <th class="col-lg-2 col-md-2">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="structure" th:each="structure, structureStat : ${structureList}">
                        <td th:text="${structure.structureNo}"></td>
                        <td th:text="${structure.materialNo}"></td>
                        <td th:text="${structure.material.name}"></td>
                        <td th:text="${structure.material.chinese}"></td>
                        <td th:text="${structure.amount}"></td>
                        <td th:text="${structure.amount}"></td>
                        <td th:text="${structure.revision}"></td>
                        <td th:text="${structure.version}"></td>
                        <td th:text="${structure.material.latestVersion}"></td>
                        <td>
                            <a href="javascript:;" style="margin-right: 16px"
                               th:onclick="|javascript:structureExport('${structure.structureNo}', '${structure.materialNo}', '${structure.revision}', '${structure.material.latestVersion}');|">
                                <span data-target="#structureExport" data-toggle="modal">导出</span>
                            </a>
                            <a href="javascript:;" style="margin-right: 16px"
                               th:onclick="|javascript:deleteStructure('${structure.id}');|">删除</a>
                            <a href="javascript:;"
                               th:onclick="|javascript:versionList('${structure.structureNo}', '${structure.materialNo}', '${structure.revision}', '${structure.material.latestVersion}');|"
                               th:if="${structure.material.latestVersion > 0}">
                                <span data-target="#versionChoose" data-toggle="modal">修改版本</span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table id="material-info" class="table table-bordered table-hover hidden">
                    <thead>
                    <tr>
                        <th class="col-lg-2 col-md-2">属性</th>
                        <th class="col-lg-10 col-md-10">值</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr hidden="hidden">
                        <td>ID</td>
                        <td id="id0"></td>
                    </tr>
                    <tr>
                        <td>名称</td>
                        <td id="name0"></td>
                    </tr>
                    <tr>
                        <td>部套号</td>
                        <td id="structureNo0"></td>
                    </tr>
                    <tr>
                        <td>物料号</td>
                        <td id="materialNo0"></td>
                    </tr>
                    <tr>
                        <td>物料号版本</td>
                        <td id="materialVersion0"></td>
                    </tr>
                    <tr>
                        <td>材料</td>
                        <td id="material0"></td>
                    </tr>
                    <tr>
                        <td>图号</td>
                        <td id="drawingNo0"></td>
                    </tr>
                    <tr>
                        <td>图号版本</td>
                        <td id="drawingVersion0"></td>
                    </tr>
                    <tr>
                        <td>图幅</td>
                        <td id="drawingSize0"></td>
                    </tr>
                    <tr>
                        <td>部件号</td>
                        <td id="positionNo0"></td>
                    </tr>
                    <tr>
                        <td>重量</td>
                        <td id="weight0"></td>
                    </tr>
                    <tr>
                        <td>总数量</td>
                        <td id="amount0"></td>
                    </tr>
                    <tr>
                        <td>数量</td>
                        <td id="absoluteAmount0"></td>
                    </tr>
                    <tr>
                        <td>排序号</td>
                        <td id="sequenceNo0"></td>
                    </tr>
                    <tr>
                        <td>更改通知</td>
                        <td id="modifyNote0"></td>
                    </tr>
                    <tr>
                        <td>子组件数</td>
                        <td id="childCount0"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>
<div class="modal fade" id="addDbStructure" tabindex="-1" role="dialog" aria-labelledby="addDbStructureLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="addDbStructureLabel">添加库中部套</h4>
            </div>
            <form id="addDbStructureForm">
                <div class="modal-body">
                    <label for="machineName7" class="control-label col-lg-2 col-md-2">机器名</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <input id="machineName7" type="text" class="form-control" th:value="${machine.name}"
                               readonly="readonly"/>
                    </div>
                    <label for="materialNo7" class="control-label col-lg-2 col-md-2">物料号</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <input id="materialNo7" type="text" class="form-control"/>
                    </div>
                    <label for="search" class="control-label col-lg-2 col-md-2"></label>
                    <div class="form-group col-lg-10 col-md-10">
                        <button id="search" type="button" class="btn btn-info">查询</button>
                    </div>
                    <label for="revision7" class="control-label col-lg-2 col-md-2">专利版本</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <select id="revision7" class="form-control">
                        </select>
                    </div>
                    <label for="version7" class="control-label col-lg-2 col-md-2">版本号</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <select id="version7" class="form-control">
                        </select>
                    </div>
                    <label for="structureNo7" class="control-label col-lg-2 col-md-2">部套号</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <input id="structureNo7" type="text" class="form-control"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="addDbStructureFile" type="button" class="btn btn-primary">添加</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </form>
            <div id="addDbStructureConfirm" style="display: none">
                <div class="modal-body">
                    <p id="addDbStructureProgress" class="progress-prompt">数据更新中...</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="importNewVersionStructure" tabindex="-1" role="dialog" aria-labelledby="StructureLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="StructureLabel">导入新版本部套</h4>
            </div>
            <form id="structureExcelForm">
                <div class="modal-body">
                    <label for="machineName3" class="control-label col-lg-2 col-md-2">机器名</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <input id="machineName3" type="text" class="form-control" name="machineName"
                               th:value="${machine.name}" readonly="readonly"/>
                    </div>
                    <label for="structureNo3" class="control-label col-lg-2 col-md-2">部套号</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <select id="structureNo3" class="form-control" name="structureNo">
                            <option th:value="${structure.structureNo}"
                                    th:each="structure, structureStat : ${structureList}"
                                    th:text="${structure.structureNo}"></option>
                        </select>
                    </div>
                    <label for="structureExcel" class="control-label col-lg-2 col-md-2">文件</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <input id="structureExcel" class="form-control" name="structureExcel" type="file"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="importFile" type="button" class="btn btn-primary">导入</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </form>
            <div id="structureExcelConfirm" style="display: none">
                <div class="modal-body">
                    <p id="structureExcelProgress" class="progress-prompt">文件上传中...</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="versionChoose" tabindex="-1" role="dialog" aria-labelledby="versionChooseLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="versionChooseLabel">修改版本</h4>
            </div>
            <form id="versionChooseForm">
                <div class="modal-body">
                    <label for="machineName4" class="control-label col-lg-2 col-md-2">机器名</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <input id="machineName4" type="text" class="form-control" th:value="${machine.name}"
                               readonly="readonly"/>
                    </div>
                    <label for="structureNo4" class="control-label col-lg-2 col-md-2">部套号</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <input id="structureNo4" type="text" class="form-control" readonly="readonly"/>
                    </div>
                    <label for="materialNo4" class="control-label col-lg-2 col-md-2">物料号</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <input id="materialNo4" type="text" class="form-control" readonly="readonly"/>
                    </div>
                    <label for="revision4" class="control-label col-lg-2 col-md-2">专利版本</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <input id="revision4" type="text" class="form-control" readonly="readonly"/>
                    </div>
                    <label for="version4" class="control-label col-lg-2 col-md-2">版本号</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <select id="version4" class="form-control">
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="updateVersion" type="button" class="btn btn-primary">修改</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </form>
            <div id="versionChooseConfirm" style="display: none">
                <div class="modal-body">
                    <p id="versionChooseProgress" class="progress-prompt">版本修改中...</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="structureExport" tabindex="-1" role="dialog" aria-labelledby="structureExportLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="structureExportLabel">导出部套</h4>
            </div>
            <form id="structureExportForm">
                <div class="modal-body">
                    <label for="machineName5" class="control-label col-lg-2 col-md-2">机器名</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <input id="machineName5" type="text" class="form-control" th:value="${machine.name}"
                               readonly="readonly"/>
                    </div>
                    <label for="structureNo5" class="control-label col-lg-2 col-md-2">部套号</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <input id="structureNo5" type="text" class="form-control" readonly="readonly"/>
                    </div>
                    <label for="materialNo5" class="control-label col-lg-2 col-md-2">物料号</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <input id="materialNo5" type="text" class="form-control" readonly="readonly"/>
                    </div>
                    <label for="revision5" class="control-label col-lg-2 col-md-2">专利版本</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <input id="revision5" type="text" class="form-control" readonly="readonly"/>
                    </div>
                    <label for="version5" class="control-label col-lg-2 col-md-2">版本号</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <select id="version5" class="form-control">
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="exportStructure" type="button" class="btn btn-primary">导出</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </form>
            <div id="structureExportConfirm" style="display: none">
                <div class="modal-body">
                    <p id="structureExportProgress" class="progress-prompt">部套导出中...</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>