<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="application/json; charset=UTF-8">
    <title>产品管理</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/summer.css}">
    <script th:src="@{/js/jquery-3.3.1.js}"></script>
    <script th:src="@{/js/ajaxfileupload.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/summer.js}"></script>
    <script th:src="@{/js/machine.js}"></script>
</head>
<body>
<aside class="aside">
    <ul class="list">
        <li class="list-item">
            <span class="glyphicon glyphicon-triangle-right"></span>
            <span th:text="${machine.name}"></span>
        </li>
    </ul>
</aside>
<div id="main">
    <main class="container">
        <div class="material-detail">
            <div class="table-wrap">
                <button type="button" data-target="#importNewVersionStructure" data-toggle="modal"
                        class="btn btn-primary pull-right"
                        style="margin-bottom: 20px">导入新版本部套
                </button>
                <table id="table" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th class="col-lg-3 col-md-3">部套号</th>
                        <th class="col-lg-3 col-md-3">当前版本</th>
                        <th class="col-lg-3 col-md-3">最新版本</th>
                        <th class="col-lg-3 col-md-3">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="structure" th:each="record, recordStat : ${materialList}">
                        <td th:text="${record.structureNo}"></td>
                        <td th:text="${record.version}"></td>
                        <td th:text="${record.latestVersion}"></td>
                        <td>
                            <a th:href="@{|/api/files/export/structure?machineName=${machine.name}&structureNo=${record.structureNo}&version=${record.version}|}">导出该版本</a>
                            <a href="javascript:;"
                               th:onclick="|javascript:useLatestVersion('${machine.name}', '${record.structureNo}');|"
                               th:if="${record.version != record.latestVersion}">使用最新版本</a>
                            <a th:href="@{|/api/files/export/structure?machineName=${machine.name}&structureNo=${record.structureNo}&version=${record.latestVersion}|}"
                               th:if="${record.version != record.latestVersion}">导出最新版本</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>
<div class="modal fade" id="importNewVersionStructure" tabindex="-1" role="dialog" aria-labelledby="StructureLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="StructureLabel">导入新版本部套</h4>
            </div>
            <form id="structureExcelForm">
                <div class="modal-body">
                    <label for="machineName3" class="control-label col-lg-2 col-md-2">机器名</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <input id="machineName3" type="text" class="form-control" name="machineName"
                               th:value="${machine.name}" readonly="readonly"/>
                    </div>
                    <label for="structureNo" class="control-label col-lg-2 col-md-2">部套号</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <select id="structureNo" class="form-control" name="structureNo">
                            <option th:value="${record.structureNo}" th:each="record, recordStat : ${materialList}" th:text="${record.structureNo}"></option>
                        </select>
                    </div>
                    <label for="structureExcel" class="control-label col-lg-2 col-md-2">文件</label>
                    <div class="form-group col-lg-10 col-md-10">
                        <input id="structureExcel" class="form-control" name="structureExcel" type="file"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="importFile" type="button" class="btn btn-primary">导入</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </form>
            <div id="structureExcelConfirm" style="display: none">
                <div class="modal-body">
                    <p id="structureExcelProgress" class="progress-prompt">文件上传中...</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>