<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>设计BOM管理工具</title>
    <link rel="shortcut icon" th:href="@{/images/cse.png}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/css/summer.css}"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/machine.css}"/>
</head>
<body>
<header id="header" class="header">
    <div class="header-fixed">
        <div class="container">
            <img class="logo" th:src="@{/images/cse.png}" alt=""/>
            <div class="account">
                <span class="account-name">{{user.name}}</span>
                <a class="icon icon-off" th:href="@{/logout}"></a>
            </div>
        </div>
    </div>
</header>
<main id="main" class="container">
    <div class="panel">
        <div class="btn-list">
            <p class="env-dev pull-left" v-if="'DEV' == user.token" v-cloak>开发环境</p>
            <p class="env-uat pull-left" v-if="'UAT' == user.token" v-cloak>测试环境</p>
            <p class="env-pro pull-left" v-if="'PRO' == user.token" v-cloak>正式环境</p>
            <a class="pull-right" href="index">
                <button class="btn">返回</button>
            </a>
            <button class="btn pull-right" type="button" @click="showAddAccountModal">添加账号</button>
        </div>
        <table class="table table-bordered table-hover" style="table-layout: fixed">
            <thead>
            <tr>
                <th style="width: 20%">姓名</th>
                <th style="width: 20%">用户名</th>
                <th style="width: 20%">角色</th>
                <th style="width: 20%">状态</th>
                <th style="width: 20%">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(account, index) in accountList">
                <td style="word-wrap: break-word;">{{account.name}}</td>
                <td style="word-wrap: break-word;">{{account.username}}</td>
                <td style="word-wrap: break-word;">
                    <span v-if="'ROLE_STRUCTURE_MANAGER' === account.roles">部套负责人</span>
                    <span v-if="'ROLE_PROJECT_MANAGER' === account.roles">项目负责人</span>
                    <span v-if="'ROLE_CHIEF_DESIGNER' === account.roles">主任设计师</span>
                </td>
                <td>
                    <span v-if="0 === account.status" style="color: #FF0000; font-weight: 700">已禁用</span>
                    <span v-if="1 === account.status">已启用</span>
                </td>
                <td>
                    <button class="btn-link pull-left" @click="showManageAccountRoleModal(account)" type="button">
                        修改角色
                    </button>
                    <button class="btn-link pull-left" @click="showManageAccountPasswordModal(account)" type="button">
                        修改密码
                    </button>
                    <button class="btn-link pull-left" @click="showManageAccountStatusModal(account)" type="button">
                        <span v-if="0 === account.status">账号启用</span>
                        <span v-if="1 === account.status">账号禁用</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <footer class="pagination" style="margin-top: 16px">
            <nav class="pagination-nav">
                <button class="left" type="button" :disabled="pageInfo.pageNum <= 1" @click="queryPreviousPage"><span
                        class="icon icon-menu-left"></span></button>
                <button type="button"><span>{{pageInfo.pageNum}}</span></button>
                <button class="right" type="button" :disabled="pageInfo.pageNum >= pageInfo.pages"
                        @click="queryNextPage"><span class="icon icon-menu-right"></span></button>
            </nav>
            <section class="pagination-query">
                <label class="pagination-query-label">共{{pageInfo.pages}}页</label>
                <input class="pagination-query-control" v-model="pageNum" type="text"/>
                <label class="pagination-query-action" @click="queryByPagination">
                    <span class="icon icon-search"></span>
                </label>
            </section>
        </footer>
    </div>
</main>
<footer class="footer">
    <span>&copy;2019 中国船舶重工集团柴油机有限公司</span>
</footer>
<div id="popover" class="popover" v-if="prompts.length > 0">
    <popover v-for="prompt in prompts" :key="prompt.id" :prompt="prompt"></popover>
</div>
<div id="progress" class="progress-modal" v-if="isVisible">
    <p class="progress">
        <span class="icon icon-cog progress-bar rotate"></span>
        <span>正在获取数据...</span>
    </p>
</div>
<div id="manageAccountRoleModal" class="modal" v-if="isVisible" v-cloak>
    <div class="modal-box">
        <div class="modal-header">
            <p class="modal-title">管理用户角色</p>
            <div class="modal-dismiss"><span class="icon icon-remove" @click="invisible"></span></div>
        </div>
        <div class="modal-content form-horizontal form-horizon2">
            <div class="form-group">
                <label class="form-label">角色</label>
                <select class="form-control" v-model="newRole">
                    <option selected disabled>请选择</option>
                    <option value="ROLE_STRUCTURE_MANAGER">部套负责人</option>
                    <option value="ROLE_PROJECT_MANAGER">项目负责人</option>
                    <option value="ROLE_CHIEF_DESIGNER">主任设计师</option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn-default pull-right" @click="invisible" :disabled="isDisabled">取消</button>
            <button class="btn pull-right" @click="saveAccountRole" :disabled="isDisabled">
                <span class="icon icon-cog rotate" v-if="isDisabled"></span>{{action}}
            </button>
        </div>
    </div>
</div>
<div id="manageAccountPasswordModal" class="modal" v-if="isVisible" v-cloak>
    <div class="modal-box">
        <div class="modal-header">
            <p class="modal-title">管理用户密码</p>
            <div class="modal-dismiss"><span class="icon icon-remove" @click="invisible"></span></div>
        </div>
        <div class="modal-content form-horizontal form-horizon4">
            <div class="form-group">
                <label class="form-label">新设密码</label>
                <input id="newPassword" class="form-control" v-model="newPassword" type="password"/>
            </div>
            <div class="form-group">
                <label class="form-label">确认密码</label>
                <input id="confirmPassword" class="form-control" v-model="confirmPassword" type="password"/>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn-default pull-right" @click="invisible" :disabled="isDisabled">取消</button>
            <button class="btn pull-right" @click="saveAccountPassword" :disabled="isDisabled">
                <span class="icon icon-cog rotate" v-if="isDisabled"></span>{{action}}
            </button>
        </div>
    </div>
</div>
<div id="manageAccountStatusModal" class="modal" v-if="isVisible" v-cloak>
    <div class="modal-box">
        <div class="modal-header">
            <p class="modal-title">管理用户状态</p>
            <div class="modal-dismiss"><span class="icon icon-remove" @click="invisible"></span></div>
        </div>
        <div class="modal-content">
            <p class="modal-prompt">您确定要<span v-if="0 === account.status">启用</span><span
                    v-if="1 === account.status">禁用</span><span>{{account.name}}</span>的账号吗？</p>
        </div>
        <div class="modal-footer">
            <button class="btn-default pull-right" @click="invisible" :disabled="isDisabled">取消</button>
            <button class="btn pull-right" @click="saveAccountStatus" :disabled="isDisabled">
                <span class="icon icon-cog rotate" v-if="isDisabled"></span>{{action}}
            </button>
        </div>
    </div>
</div>
<div id="addAccountModal" class="modal" v-if="isVisible" v-cloak>
    <div class="modal-box">
        <div class="modal-header">
            <p class="modal-title">添加账号</p>
            <div class="modal-dismiss"><span class="icon icon-remove" @click="invisible"></span></div>
        </div>
        <div class="modal-content form-horizontal form-horizon3">
            <div class="form-group">
                <label class="form-label">姓名</label>
                <input id="name" class="form-control" v-model="account.name" type="text"/>
            </div>
            <div class="form-group">
                <label class="form-label">用户名</label>
                <input id="username" class="form-control" v-model="account.username" type="text"/>
            </div>
            <div class="form-group">
                <label class="form-label">密码</label>
                <input id="password" class="form-control" v-model="account.password" type="password"/>
            </div>
            <div class="form-group">
                <label class="form-label">角色</label>
                <select class="form-control" v-model="account.roles">
                    <option selected disabled>请选择</option>
                    <option value="ROLE_STRUCTURE_MANAGER">部套负责人</option>
                    <option value="ROLE_PROJECT_MANAGER">项目负责人</option>
                    <option value="ROLE_CHIEF_DESIGNER">主任设计师</option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn-default pull-right" @click="invisible" :disabled="isDisabled">取消</button>
            <button class="btn pull-right" @click="addAccount" :disabled="isDisabled">
                <span class="icon icon-cog rotate" v-if="isDisabled"></span>{{action}}
            </button>
        </div>
    </div>
</div>
<script src="js/vue.min.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/summer.js"></script>
<script th:src="@{/js/manage-account.js}"></script>
</body>
</html>